a{
    display: inline;
    /* border: .1em dashed black; */
    border-radius: .5em;
    color: blue;
    font-weight: bold;
    background-color: white;
    margin-right: .25 em;
    padding: .2em;
    text-decoration: none;
    text-align: center;
}

.boton_edicion{
    width: 1em;
    height: auto;
    background-color: none;
}

.container{
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
    text-align: center;
    display: grid;
}

.filas{
    /* border: 1px solid lightseagreen; */
    border-radius: .5em;
    padding: 5px;
    margin-top: .5em;
}

#left{
    grid-column: 1/2;
    border: 1px solid gray;
}

#right{
    grid-column: 2/2;
    border: 1px solid gray;
 }
