@charset "utf-8";
.menu{
    display: inline-block;
    background-color: #f1f1f1;
    color: blueviolet;
    padding: 8px 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.opciones{
    display: none;
}
.menu:hover .opciones{
    display: block;
}
.opcion:hover{
    font-weight: bold;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8em;
}
li a{
    background-color: #f1f1f1;
    display: block;
    padding: 8px 1em;
    text-decoration: none;
    /* border: 0.3em blueviolet solid; */
}
li a:link{
    color: blueviolet;
}
li a:hover {
    background-color: blueviolet;
    color: white;
}