@charset "utf-8";

body{
    background-color: #b3dcff;
}
h1{
    background-color: rgba(56, 222, 64, 0.422);
}
header{
    background-color: rgba(23, 211, 148, 0.385);
    width: 15%;
    text-align: right;
    left: 5%;
    top: 5em;
    position: absolute;
}
section{
    background-color: #ffe4c47d;
    width: 50%;
    height: 10em;
    left: 21%;
    top: 5em;
    position: absolute;
}
