@charset "utf-8";

body{
    background-color: blueviolet;
    font-size: 100%;
}

.columna{
    background-color: aqua;
    border: 2px solid black;
    margin: .1em .5%;
    padding: .1em .5%;
    text-indent: .5em;
    text-align: justify;
    float: left;
    float: left;
    width: 44%;
}
.columna3{
    width: 44%;
    clear: both;
    float: left;
}
