#navigation_bar{
    display: flexbox;
    flex-wrap: wrap;
}

.contenedor_frutas{
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
}

.frutas, .fruta2{
    display: inline-block;
    margin: .5em;
    text-decoration: none;
    border: .1em solid gray;
    border-radius: .5em;
    width: fit-content;
    text-align: center;
}

.img_frutas{
    position: relative;
    display: flex;
    /* width: calc(); */
} 

.navigation_box{
    list-style-type: none;
    display: inline;
    padding: .25em;
    background-color: antiquewhite;
    border-radius: .5em;
    width: fit-content;
}

.right{
    display: block;
    /* float: right; */
    margin-top: 1em;
    /* clear: both; */
    /* position: absolute; */
    position: relative;
}

.right::after {
    content: "";
    clear: both;
    display: table;
  }

.navigation_box:hover, p>a:hover, .frutas:hover{
    border: 2px solid blue;
    border-radius: .5em;
    padding: .25em;
}

*:focus{
    padding: .25em;
    border: 5px solid blue;
}

fieldset{
    margin: .75em 0em;
}

footer{
    margin-top: 2em;
    display: block;
}

h1, nav, footer{
    text-align: center;
}

p, form, h3{
    margin: .5em 1em;
}

section{
    width: 90%;
    margin: auto;
}
