@charset "utf-8";
body {
    background-color: rgb(133, 233, 233);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
legend{
    font-size: 1.5em;
    font-weight: bold;
}
.etiquetas{
    background-color: rgba(23, 211, 148, 0.385);
    width: 35%;
    text-align: right;
    position: relative;
    display: inline-block;
}
.campos{
    background-color: #ffe4c47d;
    width: 50%;
    position: relative;
    display: inline-block;
}
.a{
    background-color: #892be29f;
}
p{
    margin-top: .2em .5em;
    line-height: 1.6em;
}