@charset "utf-8";

.but{
    border: 1px solid black;
    display: inline; 
    clear:both; 
    background-color: aquamarine; 
    border-radius: .25em; 
    padding: .01em .2em;
    margin: auto;
    width: fit-content;
}