footer{
    text-align: center;
    margin-top: 5em;
    font-size: 0.90em;
}

h2{
    text-align: center;
    margin-bottom: 0em;
}

.boton{
    display: inline-flex;
    margin: 0em .5em;
    padding: .4em;
    border: .1em solid black;
    border-radius: .5em;
    font-weight: bold;
    cursor: default;
}

.container{
    text-align: center;
    margin: .5em auto 3em auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    width: fit-content;
}
.formulario{
    text-align: right;
    margin-right: 0.5em;
}

.linea_botones{
    margin: 0em;
    padding: 0em;
}

.linea_relojes{
    margin-bottom: .5em;
    padding: 0em;
}

.activate{
    color: darkblue;
    background-color: aquamarine;
}

.stop{
    color: aliceblue;
    background-color: #d80808;
}

.program{
    color: #2b15b3;
    background-color: rgb(134, 231, 240);
}

#alarm{
    color: #091bcc;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}